@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

.b-1 {
  border: 1px solid gray;
}

.b-2 {
  border: 2px solid gray;
}

.b-3 {
  border: 3px solid gray;
}

.bt-1 {
  border-top: 1px solid gray;
}

.bt-2 {
  border-top: 2px solid gray;
}

.bt-3 {
  border-top: 3px solid gray;
}

.bb-1 {
  border-bottom: 1px solid gray;
}

.bb-2 {
  border-bottom: 2px solid gray;
}

.bb-3 {
  border-bottom: 3px solid gray;
}

.bl-1 {
  border-left: 1px solid gray;
}

.bl-2 {
  border-left: 2px solid gray;
}

.bl-3 {
  border-left: 3px solid gray;
}

.br-1 {
  border-right: 1px solid gray;
}

.br-2 {
  border-right: 2px solid gray;
}

.br-3 {
  border-right: 3px solid gray;
}