//Deep color
$white:white;
$gray:gray;
$black:black;
$blue:rgb(0, 151, 252); 
$green:rgb(9, 207, 9);
$yellow:yellow;
$orange:orange;
$red:red;


//Light color
$lightgray:lightgray;
$lightblue:rgb(145, 220, 245);
$lightgreen:rgb(61, 165, 160);
$lightred:lightcoral;

//Size
$px1:1px;
$px2:2px;
$px3:3px;